@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{

}

header{
    background-color: rgb(26, 26, 26);
    color: white;
    text-align: center;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header > h1{
    font-size: 3em;
}

header > p{
    font-size: 1.2em;
}

a{
    text-decoration: none;
    color: white;
    padding: 3px;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 1.5em;
    font-size: 1.3em;
    font-weight: 550;
}

.normal{
    background-color: white;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
}

.imagem{
    background-color: rgb(24, 24, 24);
    color: white;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.61);
}

.imagem pre{
    background-color: rgba(0, 0, 0, 0.459);
    display: inline-block;
    margin: 30px;
    padding: 8px;
    border-radius: 5px;
}

#img1{
    background-image: url(../imagens/background001.jpg);
    background-position: center center;
}

#img2{
    background-image: url(../imagens/background002.jpg);
    background-position: left center;
}

section > p{
    padding-bottom: 1em;
    font-family: 'Delicious Handrawn', 'cursive';
}

pre{
    white-space: pre-line;
    padding-left: 15px;
}

footer{
    background-color: rgb(26, 26, 26);
    color: white;
    text-align: center;
    padding: 8px;
    font-size: 1.2em;
}